$align: left;
$bg-color: #001524;
$color-01: #ffa20e;
$color-02: #A4A9AD;
$color-03: #EF5B5B;
$color-04: #001d31;
$color-default: #cf2a2a;
$font-big: 4rem;
$font-family-default:'Montserrat',
sans-serif;
$font-family-01: 'Michroma',
sans-serif;
$font-medium: 2.2rem;
$font-normal: 1.5rem;
$font-small: 1.2rem;
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 1.5rem;
$tablet: 999px;